<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /*Adapted from W3 Schools*/
        ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;}
        ul img{object-fit: cover; width: 5%; max-height: 5%;}  
        li {float: left;}
        li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
        h1{font-size: 60px; color: black;}
        h2{font-size: 20px; font-family: fantasy;}
        p{font-size: 20px;}
        a{color: white;}  
        a:hover {background-color: grey;}
        table, th, td {  border: 1px solid black;}
        body {text-align: center}
        tr {text-align: center}
        .center {  margin-left: auto;  margin-right: auto;}
    </style>
</head>
<header>
    <ul>
        <li><a href="/">Homepage</a></li>
    </ul>
</header>
<body>
    <h1>Saved Movies</h1>
    <table class="center">
        <% for(var i=0; i < result.length; i++) { %>
           <tr>
             <td><%= result[i].movie_title; %></td>
           </tr>
        <% } %>
    </table>
</body>
</html>